.black {
  background-image: linear-gradient(lightblue, darkblue, black);
}

.card {
  height: 315px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(lightgray, white) !important;
  border-radius: 10px;
}

.font-size {
  font-size: 14px;
}

.composer {
  font-size: 10px;
}

.card-img-top {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
